<div class="container-fluid">
    <a href="/add" class="btn btn-warning w-100">Thêm sách</a>
    
    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr style="text-align: center;">
            <th style="width: 10px;"># stt</th>
            <th style="width: 150px;">Tên quần áo</th>
            <th style="width: 100px;">Số lượng</th>
            <th style="width: 100px;">Giá</th>
            <th style="width: 200px;">Hình ảnh</th>
            <th style="width: 120px;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.tenquanao}}</td>
            <td>{{this.soluong}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.image}}" style="max-height: 100px;"></td>
            <td style="text-align: center;">
                <a href="/edit/{{this._id}}" class="btn btn-sm btn-warning">Sửa</a>
                <form method="POST" action="/delete/{{this._id}}" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

</div>
